@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-netflixgray-900 text-white !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-red-600;
  }

  header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between
    transition-all px-4 py-4 lg:px-10 lg:py-6
  }
}

@layer components {
  .headerLink {
    @apply cursor-pointer text-shadow-md text-sm font-medium
    transition duration-[.4s] text-netflixgray-100 hover:text-netflixgray-300
  }

  .bannerBtn {
    @apply flex items-center gap-x-2 rounded font-semibold transition
    hover:opacity-75 px-5 py-1.5 text-sm md:py-2.5 md:px-8 md:text-xl
  }

  .chevronIcon {
    @apply absolute top-0 bottom-0 z-40 m-auto h-9 w-9
    cursor-pointer transition opacity-0 group-hover:opacity-100 hover:scale-125
  }

  .input {
    @apply w-full rounded outline-none px-5 py-3.5 
    placeholder-[gray] bg-[#333] focus:bg-[#454545]
  }

  .modalBtn {
    @apply flex h-11 w-11 items-center justify-center rounded-full
    border-2 border-[gray] bg-[#2a2a2a]/60 hover:border-white hover:bg-white/10
  }

  .checkIcon {
    @apply h-7 w-7 text-[#E50914]
  }

  .li {
    @apply flex items-center gap-x-2 text-lg
  }

  .membershipLink {
    @apply cursor-pointer text-blue-500 hover:underline;
  }

  .planBox {
    @apply relative flex items-center justify-center h-20 w-[calc(100%/3)] mx-1.5
    bg-[#e50914] cursor-default font-semibold shadow
    after:absolute after:top-full after:left-1/2 after:block
    after:-translate-x-1/2 after:border-8 after:border-b-0 
    after:border-transparent after:border-t-[#e50914] after:content-[""]
    md:h-32 lg:mx-8
  }

  /* Table */
  .tableRow {
    @apply flex flex-wrap items-center font-medium;
  }

  .tableDataTitle {
    @apply w-full p-2.5 text-center text-sm font-normal text-white
    md:w-2/5 md:p-3.5 md:text-left md:text-base;
  }

  .tableDataFeature {
    @apply text-center text-[gray] w-[calc(100%/3)] p-2.5 md:w-[calc(60%/3)] md:p-3.5;
  }

    /* MUI Menu */
    .menu {
      @apply md:hidden;
    }
  
    .menu .MuiPaper-root {
      @apply !absolute !left-0 !rounded-none !border !border-[gray] !bg-black !text-white;
    }
  
    .menu .MuiList-root {
      @apply !p-0;
    }
  
    .menu .MuiMenuItem-root {
      @apply !block !w-72 !py-3.5 !text-center !text-sm !font-light !text-[#b3b3b3] !transition !duration-200 first:cursor-default first:!font-normal first:!text-white hover:!bg-[#11100F];
    }

}